Chat/node_modules/*
Chat/data/attempts.json
Chat/data/chats.json
Chat/data/stats.json
Chat/ssl/cert.pem
Chat/ssl/key.pem
Web-search/node_modules/*
Deep-search/node_modules/*
Code-interpreter/node_modules/*
Code-interpreter/code/*